<%- include("includes/head.ejs") %>
    <h1>Generate random dice number : <%= dice %> </h1>
    <%     if(dice == 6){ %>
        <h2>
           Nice!!! Try again...
            
        </h2>
        <% } %>
    </body>
    <%- include("includes/footer.ejs") %>
</html>


