<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page</h1>
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate cumque incidunt non impedit eligendi voluptatibus. Voluptate itaque doloribus reiciendis natus earum, commodi nihil aliquam modi et libero, cumque corrupti obcaecati.</p>
    <button>Click me!!</button>
</body>
<%- include("includes/footer.ejs") %>
</html>